
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MetaErg</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="outform">

    <div class="jumbotron text-center mb-0 mt-5">
      <h1>MetaErg - Help</h1>
    </div>
    <nav class="site-header py-0 mb-5">
      <div class="container d-flex justify-content-end">
	<a class="pl-4 d-none d-md-inline-block" href="index.html">Home</a>
	<a class="pl-4 d-none d-md-inline-block" href="help.html">Help</a>
      </div>
    </nav>

    <div class="container">
      <p>It's coming</p>
    </div>
    <div id="sep"></div>
    <footer>
      <div class="col-xs-12">
    <!--Footer Bottom-->
    <p class="text-center" >Problems? Questions? Suggestions? Please contact  <a href="mailto:xdong@ucalgary.ca">Xiaoli Dong</a> or <a href="mailto:mstrous@ucalgary.ca">Marc Strous</a></p>
    <p class="text-center">
      <a href="http://www.ucalgary.ca/ebg/">Energy Bioengineering Group</a>in <a href="http://geoscience.ucalgary.ca/">Department of Geoscience</a> at <a href="http://www.ucalgary.ca">Univeristy of Calgary</a></p>
      </div>
    </footer>
    
    </div>
  </body>
</html>
